@{
    ViewData["Title"] = "About this Page";
    ViewData["Message"] = "This is a test website for Chroma.Netcore.Api";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Developer:</strong> <a href="https://twitter.com/sdc4">sdc4</a><br />
</address>


<p></p>
